<!-- < include('../includes/header') %> -->


<!-- 
    <div class="search_area">
        <div class="search_close">
            <span><i class="fal fa-times"></i></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="search-wrapper text-center">
                        <h2>search</h2>
                        <div class="search-filtering pt-30">
                            <div class="search_tab">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="select1111" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="home-tab2" data-bs-toggle="tab"
                                            data-bs-target="#home2" type="button" role="tab" aria-selected="true">All
                                            categories</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="profile-tab2" data-bs-toggle="tab"
                                            data-bs-target="#profile2" type="button" role="tab"
                                            aria-selected="false">Basketball</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact2"
                                            type="button" role="tab" aria-selected="false">Handbag</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="sportswear-tab" data-bs-toggle="tab"
                                            data-bs-target="#sportswear" type="button" role="tab"
                                            aria-selected="false">Sportswear</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="mycontentalso">
                                    <div class="tab-pane fade show active" id="home2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="profile2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="contact2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="sportswear" role="tabpanel">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_search">
                            <form action="#">
                                <input type="text" name="search" placeholder="search products">
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

<div class="fix">
    <div class="side-info">
        <button class="side-info-close"><i class="fal fa-times"></i></button>
        <div class="side-info-content">
            <div class="mobile-menu"></div>
            <div class="contact-infos mb-30">
                <div class="contact-list mb-30">
                    <h4>Office Address</h4>
                    <p>123/A, Miranda City Likaoli
                        Prikano, Dope</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Phone Number</h4>
                    <p>+0989 7876 9865 9</p>
                    <p>+(090) 8765 86543 85</p>
                </div>
                <div class="contact-list mb-30">
                    <h4>Email Address</h4>
                    <p><a href="https://wphix.com/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="c2abaca4ad82a7baa3afb2aea7eca1adaf">[email&#160;protected]</a></p>
                    <p><a href="https://wphix.com/cdn-cgi/l/email-protection" class="__cf_email__"
                            data-cfemail="a3c6dbc2ced3cfc68dcec2cacfe3cbd6ce8dc0ccce">[email&#160;protected]</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas-overlay"></div>

<!-- cart area start  -->
<!-- <div class="cart__sidebar">
        <div class="container">
            <div class="cart__content">
                <div class="cart-text">
                    <h3 class="mb-40">Shopping cart</h3>
                    <div class="add_cart_product">
                        <div class="add_cart_product__thumb">
                            <img src="/user/assets/img/product/29-3.jpg" alt="">
                        </div>
                        <div class="add_cart_product__content">
                            <h5><a href="shop.html">Running 3-Stripes</a></h5>
                            <p>1 × $66.00</p>
                            <button class="cart_close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                    <div class="add_cart_product">
                        <div class="add_cart_product__thumb">
                            <img src="/user/assets/img/product/17.jpg" alt="">
                        </div>
                        <div class="add_cart_product__content">
                            <h5><a href="shop.html">Buddy non Stripes</a></h5>
                            <p>1 × $40.00</p>
                            <button class="cart_close"><i class="fal fa-times"></i></button>
                        </div>
                    </div>
                </div>
                <div class="cart-icon">
                    <i class="fal fa-times"></i>
                </div>
                <div class="cart-bottom">
                    <div class="cart-bottom__text">
                        <span>Subtotal:</span>
                        <span class="end">$121.00</span>
                        <a href="cart.html">view cart</a>
                        <a href="checkout.html">checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-offcanvas-overlay"></div> -->
<!-- cart area end  -->
<!-- 
    <div class="search_area">
        <div class="search_close">
            <span><i class="fal fa-times"></i></span>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="search-wrapper text-center">
                        <h2>search</h2>
                        <div class="search-filtering pt-30">
                            <div class="search_tab">
                                <ul class="nav nav-tabs justify-content-center mb-55" id="myTab2" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="select11" data-bs-toggle="tab"
                                            data-bs-target="#select1" type="button" role="tab" aria-selected="true">All
                                            categories</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="select22" data-bs-toggle="tab"
                                            data-bs-target="#select2" type="button" role="tab"
                                            aria-selected="false">Basketball</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#select3"
                                            type="button" role="tab" aria-selected="false"
                                            id="select33">Handbag</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="select44" data-bs-toggle="tab"
                                            data-bs-target="#select4" type="button" role="tab"
                                            aria-selected="false">Sportswear</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="select55" data-bs-toggle="tab"
                                            data-bs-target="#contact3" type="button" role="tab"
                                            aria-selected="false">Youth</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent2">
                                    <div class="tab-pane fade show active" id="select1" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="select2" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="select3" role="tabpanel">

                                    </div>
                                    <div class="tab-pane fade" id="select4" role="tabpanel">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main_search">
                            <form action="#">
                                <input type="text" name="search" placeholder="search products">
                                <button class="m-search"><i class="fal fa-search d-sm-none d-md-block"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<div class="login_register_area">
    <div class="container">
        <div class="row gx-5 d-flex justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                <h3 class="title-7">register</h3>
                <div class="login_wrapper login_wrapper_2">
                    <form action="/register" id="form" method="post">
                        <div class="input_wrap">
                            <label>First Name<span>*</span></label>
                            <input id="fname" type="firstname" name="firstName">
                            <div id="fnameError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap">
                            <label>Last Name<span>*</span></label>
                            <input type="lastname" id="lname" name="lastName">
                            <div id="lnameError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap">
                            <label>Email address<span>*</span></label>
                            <input type="email" id="mail" name="email">
                            <div id="emailError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap">
                            <label>Number<span>*</span></label>
                            <input type="number" id="phone" name="mobile">
                            <div id="numError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap">
                            <label>Password<span>*</span></label>
                            <input type="password" id="pass" name="password">
                            <div id="passError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap">
                            <label>Confirm Password<span>*</span></label>
                            <input type="password" id="cpass" name="cpassword">
                            <div id="cpassError" class="text-danger"></div>
                        </div>
                        <div class="input_wrap input_wrap_3">
                            <!-- <span class="mb-10 pt-15">A password will be sent to your email address.</span>
                                <p class="mb-30">Your personal data will be used to support your experience throughout
                                    this website, to manage access to your account, and for other purposes described in
                                    our privacy policy.</p> -->
                            <button type="submit" value="Register">register</button>
                        </div>
                        <div id="formError"></div>
                        <a href="/login">already have account?</a>
                    </form>



                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", function () {
        const registrationForm = document.getElementById("form");
        const nameInput = document.getElementById("fname");
        const name2Input = document.getElementById("lname");
        const emailInput = document.getElementById("mail");
        const numberInput = document.getElementById("phone");
        const passwordInput = document.getElementById("pass");
        const cpasswordInput = document.getElementById("cpass");

        const firstnameError = document.getElementById("fnameError");
        const lastnameError = document.getElementById("lnameError");
        const mailError = document.getElementById("emailError");
        const numberError = document.getElementById("numError");
        const passworderr = document.getElementById("passError");
        const cpassworderr = document.getElementById("cpassError");
        const formerr = document.getElementById("formError");

        const nameRegex = /^[A-Z][A-Za-z\s]*$/; // name validation regex
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // General email validation regex

        function validateFirstName() {
            const name = nameInput.value.trim();

            if (name === "") {
                firstnameError.textContent = "Field is required";
            } else if (name.length < 4) {
                firstnameError.textContent = "Name must be at least 4 characters";
            } else if (!nameRegex.test(name)) {
                firstnameError.textContent =
                    "Name should start with a capital letter and only contain alphabetic characters";
            } else {
                firstnameError.textContent = ""; // Clear the error message when the input is valid
            }
        }

        function validateLastName() {
            const name = nameInput.value.trim();

            if (name === "") {
                lastnameError.textContent = "Field is required";
            } else {
                lastnameError.textContent = ""; // Clear the error message when the input is valid
            }
        }

        // Add a blur event listener to the nameInput
        nameInput.addEventListener("blur", validateFirstName);
        name2Input.addEventListener("blur", validateLastName);

        function validateEmail() {
            const email = emailInput.value.trim();
            if (email === "") {
                mailError.textContent = "Field is required";
            } else if (!emailRegex.test(email)) {
                mailError.textContent = "Invalid email format.";
            } else {
                mailError.textContent = "";
                //email availabiliity checking

                try {
                    fetch("/checkEmail", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({ email }),
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            } else {
                                throw new Error("Network response was not ok");
                            }
                        })
                        .then((data) => {
                            mailError.textContent = data;
                        })
                        .catch((error) => {
                            console.error("An error occurred:", error);
                        });
                } catch (error) {
                    throw new Error(error);
                }
            }
        }
        emailInput.addEventListener("blur", validateEmail);

        function validatePassword() {
            const password = passwordInput.value.trim();

            if (password === "") {
                passworderr.textContent = "Field is required";
            } else if (password.length < 4) {
                passworderr.textContent = "Password must be at least 4 characters long";
            } else if (!/[A-Z]/.test(password)) {
                passworderr.textContent =
                    "Password must contain at least one uppercase letter";
            } else if (!/[a-z]/.test(password)) {
                passworderr.textContent =
                    "Password must contain at least one lowercase letter";
            } else if (!/[0-9]/.test(password)) {
                passworderr.textContent = "Password must contain at least one number";
            } else {
                passworderr.textContent = "";
            }
        }
        passwordInput.addEventListener("blur", validatePassword);

        function validateCpassword() {
            const cpassword = cpasswordInput.value.trim();
            if (cpassword.trim() === "") {
                cpassworderr.textContent = "Field is required";
            } else if (passwordInput.value.trim() !== cpassword) {
                cpassworderr.textContent = "Passwords do not match.";
            } else {
                cpassworderr.textContent = "";
            }
        }

        cpasswordInput.addEventListener("blur", validateCpassword);


        function validatePhoneNumber() {
            const phoneNumber = numberInput.value.trim();
            
            const phonePattern = /^\d{10}$/;
            if (phoneNumber.trim() === "") {
                numberError.textContent = "Field is required";
            } else if (/^(\d)\1{9}$/.test(phoneNumber)) {
                numberError.textContent = "Invalid phone number. Please enter a non-repeating number.";
            } else if (!phonePattern.test(phoneNumber)) {
                numberError.textContent = "Invalid phone number format. Please enter a 10-digit number.";
            } else if (phoneNumber[0] === "0") {
                numberError.textContent = "Phone number should not start with zero.";
            } else if (phoneNumber[0] === "1") {
                numberError.textContent = "Phone number should not start with one.";
            }
        }


        // Add an event listener to trigger the validation function on blur
        numberInput.addEventListener("blur", validatePhoneNumber);



        function handleSubmit(event) {
            event.preventDefault();
            validateFirstName();
            validateLastName();
            validateEmail();
            validatePassword();
            validateCpassword();
            validatePhoneNumber();


            const allErrors = [
                firstnameError,
                firstnameError,
                mailError,
                passworderr,
                cpassworderr,
                numberError

            ];

            const hasErrors = allErrors.some((error) => error.textContent !== "");

            if (allErrors.every((error) => error.textContent === "")) {
                formerr.textContent = "";
                registrationForm.submit();
            } else {
                formerr.textContent = "Please correct the errors in the form.";
            }
        }

        registrationForm.addEventListener("submit", handleSubmit);



    });
</script>



<!-- < include('../includes/footer') %> -->