<!-- < include('../includes/header') %> -->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>




<!------ Include the above in your HEAD tag ---------->

<form id="form" action="/admin" method="post">
  <div class="d-flex justify-content-center  mb-3 pb-1">
  
    <span class="h1 fw-bold mb-0 ">SIGN IN</span>
  </div>

  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
 Sign Up in your account
  </h5>
 
  <label>
    <p class="label-txt">ENTER YOUR EMAIL</p>
    <input type="text" id="email" name="email" class="input" value="">
    <div class="line-box">
      <div class=" text-danger" id="emailerr"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">ENTER YOUR PASSWORD</p>
    <input type="password" id="password" name="password"  class="input" value="">
    <div class="line-box">
      <div class=" text-danger" id="passworderr"></div>
    </div>
  </label>
  
  <button type="submit">submit</button>
  <%- include('../includes/flashMessage') %>
</form>


<style>

body {
  background: #080808;
}
form {
  width: 60%;
  margin: 200px auto;
  background: #efefef;
  padding: 60px 90px 80px 90px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #040404;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #000000;
  color: #ffffff;
}
</style>

<script>
    
    $(document).ready(function(){

$('.input').focus(function(){
  $(this).parent().find(".label-txt").addClass('label-active');
});

$(".input").focusout(function(){
  if ($(this).val() == '') {
    $(this).parent().find(".label-txt").removeClass('label-active');
  };
});

});




const form = document.getElementById("form");
form.addEventListener("submit", (event) => {
  if (!validate()) {
    event.preventDefault();
  }
});

function validate() {

  const email = document.getElementById("email").value;
  const password = document.getElementById("password").value;


  const emailerr = document.getElementById("emailerr");
  const passworderr = document.getElementById("passworderr");


  const nameRegex = /^[A-Z]/;
  const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/; // General email validation

  let isValid = true;



  // Email field
  if (email.trim() === "") {
    emailerr.textContent = "Field is required";
    isValid = false;
    setTimeout(function () {
      emailerr.textContent = "";
    }, 3000);
  } else if (!emailRegex.test(email.trim())) {
    emailerr.textContent = "Invalid email format.";
    isValid = false;
    setTimeout(function () {
      emailerr.textContent = "";
    }, 3000);
  }

  // Password field
  if (password.trim() === "") {
    passworderr.textContent = "Field is required";
    setTimeout(function () {
      passworderr.textContent = "";
    }, 3000);
    isValid = false;
  } else if (password.length < 4) {
    passworderr.textContent = "Password must be at least 4 characters long";
    setTimeout(function () {
      passworderr.textContent = "";
    }, 3000);
    isValid = false;
  }

  return isValid;
}


const message=document.getElementById("message");
 setTimeout(function () {
     message.style.display="none";
    }, 3000);

</script>

<!-- <include('../includes/footer') %> -->