
</div>
</div>
</body>




<script src="../admin/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../admin/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../admin/assets/js/sidebarmenu.js"></script>
<script src="../admin/assets/js/app.min.js"></script>
<script src="../admin/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../admin/assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../admin/assets/js/dashboard.js"></script>
</body>

</html>
<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.42em;
  color:#000000;
  background-color:#ffffff;
}
h1 {
  font-size:3em; 
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #1f1f1f;
}
h2 {
  font-size:1em; 
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}
.container {
	 
	
  display: table;
 
}
.container th {
	  background-color: #1F2739;
}


.container td:first-child { color: #e21212; }

.container tr:hover {
   background-color: #e2e3e5;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #9b9b9b;
  color: #000000;
  font-weight: bold;
  
  box-shadow: #666663 -1px 1px, #c5c5b9 -2px 2px, #797978 -3px 3px, #a7a7a6 -4px 4px, #bebeb7 -5px 5px, #a2a2a2 -6px 6px;
  transform: translate3d(3px, -3px, 0);
  
  transition-delay: 1s;
	  transition-duration:0.8s;
	  transition-property: all;
  transition-timing-function: line;
}


div.dataTables_filter {
   
  display: flex;
  margin: 2%;
  font-weight: 700;
 }
</style>

<script>
  $(document).ready(function () {
      $('#adminsTable').dataTable( {
   
      "dom": 'ftip',
      "info":     false
} );
  });
</script>
<script
  type="text/javascript"
  charset="utf8"
  src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"
></script>

</html>
